 <!DOCTYPE html>
<html ng-app="LibraryStore">
    <head>
		<meta charset="utf-8">
        <title>Library</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body ng-controller="LibraryController as libraryVal">
        <h1>My library</h1>
		<div ng-init="totalPrice=0" ng-controller="tabController as panel">
			<nav class="nav nav-pills" ng-init="tab=0">
				<li><a>Library</a></li>
				<li><a>Panier</a></li>
				<div class="panier" ng-init="valuePanier=false" ng-controller="panierController as panier">
                    <p><a data-icon="&#x25c8;"></a><a ng-init="numberTotalPanier=0" ng-click="panier.changeValuePanier()" class="glyphicon glyphicon-shopping-cart">Mon panier contient : {{panel.numberTotalPanier}}</a></p>
                    <div ng-show="panier.displayPanier(true)">
                        <p ng-repeat="(key, value) in panel.panier track by $index">{{value}}</p>
                        <!--<p>{{panel.panier}}</p>-->
                        <p ng-init="totalPrice=0">Total £{{panel.totalPrice}}</p>
                    </div>
				</div>
			</nav>

			<table class="table">
				<thead>
					<tr>
						<th>Picture</th>
						<th>Name</th>
						<th>Author</th>
						<th>Price</th>
						<th>Date</th>
						<th>Button</th>
					</tr>
				</thead>
				<tbody ng-repeat="book in libraryVal.books | orderBy : '-price' : reverse">
					<tr>
						<td><img ng-src="{{book.images}}" resize/></td>
						<td>
							<p>{{ book.name | uppercase }}</p>
							<section ng-controller="navController as navPan" ng-init="tabOne=0" >
								<ul class="nav nav-pills">
									<li ng-class="{ active: navPan.isSelected(1) }">
										<a href ng-click="navPan.selectTab(1)">Description</a>
									</li>
									<li ng-class="{ active: navPan.isSelected(2) }">
										<a href ng-click="navPan.selectTab(2)">Spécifications</a>
									</li>
									<li ng-class="{ active: navPan.isSelected(3) }">
										<a href ng-click="navPan.selectTab(3)">Reviews</a>
									</li>
								</ul>
								<div class="panel" ng-show="navPan.isSelected(1)">
									<h4>Description</h4>
									<p>{{book.description}}</p>
								</div>
								<div ng-show="navPan.isSelected(3)">
									<button>Add a commentary</button>
								</div>
							</section>
						</td>
						<td>{{ book.author }}</td>
						<td>{{ book.price | currency : '£' : 1 }}</td>
						<td>{{ book.date | date : "dd-MM-yyyy" }}</td>
                        <td><button class="glyphicon glyphicon-plus action-button shadow animate green" ng-click="panel.addPanier(book)" ng-show="book.canPurchase">Add to card</button></td>

					</tr>
				</tbody>
			</table>
		</div>

        <script type="application/javascript" src="js/angular.min.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
    </body>
</html>
